@charset "UTF-8";

/* --------------------today-------------------- */
#today_mainview {
    text-align: center;
    color: #59606d;
}

#today_mainview .weather_img img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
}

#today_mainview .time_info {
    font-size: .5rem;
    margin: 5px auto;
    color: #a89786;
}

#today_mainview .degree_info {
    font-size: 24px;
}

#today_mainview .weather_info {
    font: normal bold 30px '楷体';
}

#today_mainview .quality_info {
    font-size: .5rem;
    display: inline-block;
    background: #ffcc00;
    padding: 1px 5px;
    border-radius: 2px;
    color: #fff;
}

#today_detailview {
    margin-bottom: 10px;
}

#today_detailview .detailContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #59606D;
}

#today_detailview .title{ 
    width: 30%;
    padding-right: 12px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

#today_detailview .content{
    width: 70%;
}

#today_detailview .cont_title{
    font-size: 20px;
    font-weight: bold;
    padding-left: 18px;
    position: relative;
}

#today_detailview .detail {
    padding: 10px 0 10px 8px;
    border-left: 4px solid #bbb;
    font-size: 0.8rem;
    color: #aaa;
}

#today_detailview table {
    width: 240px;
    line-height: 20px;
}

#today_detailview .cont_title i.iconfont {
    position: absolute;
    top: 5px;
    left: -6px;
}

/* -------------------log-reg------------------- */
#login_page {
    width: 100%;
    height: 100%;
    text-align: center;
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    transition: left .35s ease-out;
    background: #f0fff3;
}

#login_page .wrap {
    width: 100%;
}

#login_page .login_head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #59606d;
    background: linear-gradient(to bottom, #c6f1e7, #f0fff3);
}

#login_page .login_head i {
    display: block;
}

#login_page .logo {
    width: 256px;
    height: 256px;
    margin: 72px auto;
    border-radius: 25%;
    transition: all .25s linear;
    background: url(../imgs/logo.png) #2196f3;
    background-size: cover;
}

#login_page .login_wrap {
    height: 100px;
    padding: 0 10%;
    overflow-y: hidden;
    transition: all .25s linear;
}

#login_page .login_wrap input{
    display: block;
    width: 100%;
    height: 30px;
    margin: 20px 0;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #59606d;
    background: #c6f1e7;
    border-radius: 5px;
    padding-left: 15px;
    position: relative;
    z-index: 3;
}

#login_page form > div {
    position: relative;
}

#login_page form .iconfont::after{
    display: block;
    width: 0;
    height: 0;
    border-bottom: 8px solid #b00;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
}

#login_page form .wrong_tag {
    width: 16px;
    height: 16px;
    background: #b00;
    position: absolute;
    top: 8px;
    right: 0px;
    font-size: 0.5rem;
    color: #fff;
    transition: all .2s linear;
}

#login_page .login_wrap .verf_code {
    width: 160px;
    margin: 0;
}

#login_page .verif_text {
    display: inline-block;
    width: 120px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(to bottom right,rgba(238,162,229,0.84),cornflowerblue);
    cursor: pointer;
    font-style: italic;
}

#login_page .user_ipt::-webkit-input-placeholder{
    font-size: .5rem;
    line-height: 30px;
}

#login_page .tips{
    opacity: 0;
    position: absolute;
    top: 6px;
    right: 4px;
    z-index: 5;
    font-size: .5rem;
    border: 1px solid rgb(160, 0, 0);
    color: rgb(160, 0, 0);
    border-radius: 5px;
    transition: all .2s linear
}

#login_page .log_btn,
#login_page .reg_btn {
    background: #70acb1;
    font-weight: bold;
    font-size: 26px;
    white-space: pre;
    height: 40px;
    line-height: 40px;
    margin: 40px 10% 0;
    border-radius: 8px;
    color: #f0fff3;
}


/* -------------------search-------------------- */
#search_page {
    background: #70acb1;
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: -70%;
    color: #f0fff3;
    transition: all .25s linear;
}

#search_page .head i {
    display: block;
    margin: 10px;
}

#search_page input {
    width: calc(100% - 20px);
    height: 30px;
    margin: 20px 10px;
    display: block;
    background: #f0fff3;
    color: #59606d;
    padding-left: 5px;
    border: 1px solid #59606d;
    border-radius: 5px;
}

#search_page .city_wrap {
    margin: 20px 10px;
}

#search_page .locate .title {
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 0;
}

#search_page .title {
    font-size: 14px;
    margin-bottom: 10px;
}

#search_page .choose {
    display: none;
}

#search_page .city_btn {
    border: 1px solid #59606d;
    margin: 3px 5px;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 10px;
    line-height: 20px;
    font-size: .5rem;
    letter-spacing: 3px;
    background: #59606d;
}


/* --------------------error-------------------- */
#error_page {
    display: none;
    text-align: center;
    color: #c00;
    background: #c6f1e7;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: -33%;
    left: 0;
    z-index: 8;
}

#error_page img {
    display: block;
    width: 120px;
    margin: 0 auto;
}


/* -----------------weak-weather---------------- */
#today_weakWeatherView {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}

#today_weakWeatherView .weak_weather_content{    
    text-align: center;
    height: 256px;
    margin: 30px auto;
    background: #c6f1e7;
    padding: 5px 0;
    color: #59606d;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 10px 10px 0 #aaa;
}

#today_weakWeatherView .line_wrap {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#today_weakWeatherView .rank_wrap {
    margin: 0 10px;
}

#today_weakWeatherView .weakday {
    letter-spacing: 2px;
    line-height: 5px;
    padding-top: 13px;
}

#today_weakWeatherView .date {
    font-size: .8rem;
    color: #999999;
    line-height: 18px;
}

#today_weakWeatherView .iconfont {
    font-size: 2rem;
}

#today_weakWeatherView .high_tmp,
#today_weakWeatherView .low_tmp {
    padding: 3px 0;
    line-height: 20px;
    font-size: .9rem;
}

#today_weakWeatherView .weather_canvas{
    width: 500px;
    height: 130px;
}    

#today_weakWeatherView .line_chart_wrap {
    transform: translateY(-142px);
}

#today_weakWeatherView .idots {
    height: 100px;
    width: 36px;
    position: relative;
}

#today_weakWeatherView .high_idot,
#today_weakWeatherView .low_idot {
    width: 8px;
    height: 8px;
    background: #59606d;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%,50%);
    border-radius: 50%;
    border: 1px solid lightyellow;
}

/* ------------------collection----------------- */
.weather_line {
    width: 70%;
    text-align: center;
}

#today_line{
    width: 30%;
    position: fixed;
    top: 58px;
    left: 0;
}

#today_line .now_date {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    background: #c6f1e7;
    border-bottom: 1px solid #59606d;
}

#today_line p.day{
    font-size: 41px;
    font-weight: bold;
}

#today_line .now_date div {
    font-size: 14px;
    color: #999;
}

#today_line .locate_air {
    background: #f0fff3;
    height: 81px;
    border-bottom: 1px solid #59606d;
    padding: 15px 20px;
}

#today_line h3.locate {
    letter-spacing: 2px;
}

#today_line div.air {
    background: green;
    font-size: .8rem;
    text-align: center;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 8px;
    color: #eee;
}

#weakday_wrap{
    background: #c6f1e7;
    color: #59606d;
    width: 400px;
}



#weakday_wrap .title_wrap,
#weakday_wrap .day_weather_wrap{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #59606D;
}

#weakday_wrap .day_title{
    display: inline-block;
}

#weakday_wrap .weakday{
    letter-spacing: 3px;
}

#weakday_wrap .date{
    font-size: .5rem;
    color: #aaa;
}
#weakday_wrap .day_weather_wrap {
    background: #f0fff3;
}

#weakday_wrap .weather_content i {
    font-size: 24px
}

#weakday_wrap .weather_content p {
    font-size: .8rem;
}

/* --------------------news--------------------- */
.body_wrap {
    padding: 0 10px;
    color: #59606d;
    margin-bottom: 50px;
}

.h3_title{
    font: normal normal 24px '楷体';
    border-bottom: 1px solid #59606d;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

#his_today_wrap .content{
    border-bottom: 1px dashed #59606d55;
    padding-bottom: 5px;
}

#his_today_wrap .img_wrap{
    width: 30%;
    height: 68px;
    display: inline-block;
    margin-top: 10px;
}

#his_today_wrap .msg_wrap{
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    width: 68%;
}

#his_today_wrap .title{
    font-size: 20px;
    letter-spacing: 2px;
}

#his_today_wrap .date{
    color: #999;
    font-size: .8rem;
}

#star_wrap .content_wrap {
    position: relative;
}

#star_wrap .const {
    position: absolute;
    top: -42px;
    right: 12px;
    font: normal normal 24px '楷体';
}

#star_wrap .general {
    text-indent: 2rem;
    font: italic normal 1rem'楷体';
    margin-bottom: 8px;
}

#star_wrap .detail_content{
    display: flex;
    font-size: .8rem;
    white-space: pre-line;
}

#star_wrap .detail_content div{
    padding: 0 6px;
}

#laugh_wrap .content_title{
    font-size: 18px;
    padding-bottom: 5px;
}

#laugh_wrap .content_date{
    font-size: .5rem;
    color: #999;
    margin-bottom: 20px;
}

#laugh_wrap .content_txt{
    font-size: .9rem;
    padding-bottom: 20px;
    border-bottom: 1px dotted #59606d;
    margin-bottom: 20px;
}
/* --------------------more--------------------- */